div#container
  img(src="https://i.alipayobjects.com/e/201211/1cqKb32QfE.png", alt="H")
  img(src="https://i.alipayobjects.com/e/201211/1cqKb2rJHI.png", alt="e")
  img(src="https://i.alipayobjects.com/e/201211/1cqKeZrUpg.png", alt="l")
  img(src="https://i.alipayobjects.com/e/201211/1cqM4u3Ejk.png", alt="l")
  img(src="https://i.alipayobjects.com/e/201211/1cqKoKV2Sa.png", alt="o")
  img(src="https://i.alipayobjects.com/e/201211/1cqKb4JU4K.png", alt=",")
  img(src="https://i.alipayobjects.com/e/201211/1cqKojFDLY.png", alt="s")
  img(src="https://i.alipayobjects.com/e/201211/1cqKb2sBO8.png", alt="e")
  img(src="https://i.alipayobjects.com/e/201211/1cqKb2LmXk.png", alt="a")
  img(src="https://i.alipayobjects.com/e/201211/1cqKb1jcWC.png", alt="j")
  img(src="https://i.alipayobjects.com/e/201211/1cqKojb72y.png", alt="s")
