// CSS
link(href=path.lib + 'mooxe/normalize-css/3.0.1/normalize.css',  rel='stylesheet')
link(href=path.root + 'pages/base/stylesheets/' + 'base.css', type="text/css", rel="stylesheet")
// [if lt IE 9]
script(src=path.lib + 'mooxe/respond/1.4.2/respond.src.js')
// [endif]
script(src=path.lib + 'mooxe/modernizr/3.0.0/modernizr.js')